body{
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
}

p{
    line-height: 2;

}

hr{
    border-style: dotted;
    border-width: 5px;
    border-top: 0;
    width: 7%;
    border-color: lightgrey;
    margin: 100px auto;
}

a{
    font-size: medium;
    color: #11999e;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    margin: 10px 20px;

}

a:hover{
    color: #eaf6f6;
}

.container{
    background-color: rgb(223, 246, 246);
    position: relative;
    padding-top: 100px;
}

.pro{
    text-decoration: underline;
}

h1{
    font-size: 90px;
    margin: 50px auto 0px auto;
    top: 30px;
    font-family: 'Sacramento', cursive;
    color: #66BFBF;
    line-height: 2;
}

h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    color: #66BFBF;
    font-weight: normal;
}

h3{
    font-family: 'Montserrat', sans-serif;
    color: #11999E;
}

.top-cloud{
    position: absolute;
    right: 150px;
    top: 50px;
}

.bottom-cloud{
    position: absolute;
    left: 150px;
    bottom: 250px;
}

.middle-container{
    margin: 100px 0;
}

.bottom-container{
    background-color: #66bfbf;
    padding: 60px 0 40px;
}
.footer-link{

}


.skill-row{
    margin: 100px auto;
    width: 50%;
    text-align: left;
}

 .code{
    width: 25%;
    float: left;
    margin-right: 30px;
}

.laptop{
    width: 25%;
    float: right;
    margin-left: 30px;

} 

.intro{
    width: 30%;
    margin: auto;
}

.contact-me{
    width: 60%;
    margin: 40px auto 60px;
}

.btn {
    background: #3498db;
    background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
    background-image: -moz-linear-gradient(top, #3498db, #2980b9);
    background-image: -ms-linear-gradient(top, #3498db, #2980b9);
    background-image: -o-linear-gradient(top, #3498db, #2980b9);
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;

  }
  
  .btn:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
  }


.copyright{
    color: #eaf6f6;
    font-size: .90rem;
   padding: 20px 0; 
}